div(class="modal fade" id="createRegistrationModal" tabindex="-1" role="dialog" aria-labelledby="createRegistrationModalLabel" aria-hidden="true" ng-controller="createRegistrationController")
  div(class="modal-dialog" role="document")
    div(class="modal-content")
      div(class="modal-header")
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4(class="modal-title" id="myModalLabel") Create New Registration Transform
      div(class="modal-body")
        form
          div(class="form-group label-floating")
            label(class="control-label" for="newRegistrationName") Registration Transform Name
            input(type="text", class="form-control form-control-sm", id="newRegistrationName", placeholder="", ng-model="newRegistration.name")
      div(class="modal-footer")
        button(type="button" class="btn btn-default btn-raised" data-dismiss="modal") Cancel
        button(type="button" class="btn btn-info btn-raised" ng-disabled="newRegistration.name.length == 0" ng-click="createRegistration()") Create
      div(class="alert alert-danger" role="alert" ng-show="errorMessage.length > 0")
        strong Oops!&nbsp;
        span {{errorMessage}}
