div(class="row", ng-controller="neuronController")
  h4(class="centered") NEURONS
  form
    div
      div(class="col-sm-6 form-group")
        label(for="neuronNumber") Neuron Id Number
        input(type="text", class="form-control form-control-sm", id="neuronNumber", placeholder="", ng-model="model.idNumber")
      div(class="col-sm-6 form-group")
        label(for="sampleSelect") Add to sample
        select(ng-model="model.sampleId" id="sampleSelect" class="form-control form-control-sm c-select")
          option(ng-repeat="option in sampleService.samples" value="{{option.id}}") {{option.idNumber}} ({{option.sampledate | date: 'yyyy-MM-dd'}})
    div
      div(class="col-sm-6 form-group")
        label(for="brainAreaSelect") Brain Area
        select(ng-model="model.brainAreaId" id="brainAreaSelect" class="form-control form-control-sm c-select" ng-disabled="brainAreaService.brainAreas.length == 0")
          option(ng-repeat="option in brainAreaService.brainAreas" value="{{option.id}}") ({{option.abiIdNumber}}) {{option.abiName}}
    div
      div(class="col-sm-12 centered")
        span Soma Sample Location
    div
      div(class="col-sm-4")
        label(for="somaX") X
        div(class="input-group")
          input(type="text", class="form-control form-control-sm", id="somaX", placeholder="", ng-model="model.x")
          div(class="input-group-addon form-control-sm") µm
      div(class="col-sm-4")
        label(for="somaY") Y
        div(class="input-group")
          input(type="text", class="form-control form-control-sm", id="somaY", placeholder="", ng-model="model.y")
          div(class="input-group-addon form-control-sm") µm
      div(class="form-group col-sm-4")
        label(for="somaZ") Z
        div(class="input-group")
          input(type="text", class="form-control form-control-sm", id="somaX", placeholder="", ng-model="model.z")
          div(class="input-group-addon form-control-sm") µm
    div(class="col-sm-12")
      button(type="submit" class="btn btn-primary btn-sm", ng-disabled='!canCreateNeuron()', ng-click="createNeuron()") Create
