div(class="modal fade" id="createInjectionModal" tabindex="-1" role="dialog" aria-labelledby="createInjectionModalLabel" aria-hidden="true" ng-controller="createInjectionController")
  div(class="modal-dialog" role="document")
    div(class="modal-content")
      div(class="modal-header")
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4(class="modal-title" id="myModalLabel") Create New Injection Location
      div(class="modal-body")
        form
          div(class="orm-group")
            label(for="newInjectionLocationName") Injection Location Name
            input(type="text", class="form-control form-control-sm", id="newInjectionLocationName", placeholder="", ng-model="newInjection.name")
      div(class="modal-footer")
        button(type="button" class="btn btn-secondary" data-dismiss="modal") Cancel
        button(type="button" class="btn btn-primary" ng-disabled="newInjection.name.length == 0" ng-click="createInjectionLocation()") Create
      div(class="alert alert-danger" role="alert" ng-show="errorMessage.length > 0")
        strong Oops! 
        span {{errorMessage}}
