div(class="row", ng-controller="createSampleController")
  include ./_createRegistrationModal
  include ./_createMouseStrainModal
  h4(class="centered") CREATE
  div(class="row" ng-show="(lastCreateMessage.length > 0) || (lastCreateError.length > 0)")
    div(class="col-sm-12 inset")
      div(class="alert alert-success" ng-show="lastCreateMessage.length > 0")
        span {{lastCreateMessage}}
      div(class="alert alert-danger" ng-show="lastCreateError.length > 0")
        span {{lastCreateError}}
  form(class="inset")
    div(class="row")
      div(class="col-sm-6")
        div(ng-class="['form-group', 'label-floating', {'has-warning': !isValidIdNumber}]")
          label(class="control-label" for="sampleIdNumber") Sample Id Number
          input(type="text", class="form-control form-control-sm", id="sampleIdNumber", ng-model="model.idNumber")
      div(class="col-sm-6")
        div(ng-class="['form-group', 'label-floating', {'has-warning': !isValidDate}]")
          label(class="control-label" for="date") Date (yyyy-mm-dd)
          input(type="text", class="form-control form-control-sm", id="date", ng-model="model.sampleDate")
    div(class="row")
      div(class="col-sm-6")
        div(class="form-group label-floating")
          label(class="control-label" for="mouseStrainSelect") Strain
          div(class="input-group")
            select(ng-model="model.strain" id="mouseStrainSelect" class="form-control form-control-sm c-select btn-raised" ng-disabled="!mouseStrainService.resourcesAreAvailable")
              option(ng-repeat="option in mouseStrainService.mouseStrains" value="{{option.id}}") {{option.name}}
            span(class="input-group-btn")
              button(class="btn btn-info btm-sm]', " type="button" data-toggle="modal" data-target="#createMouseStrainModal")
                i(ng-class="['fa', {'fa-spinner': !mouseStrainService.resourcesAreAvailable, 'fa-spin': !mouseStrainService.resourcesAreAvailable, 'fa-plus': mouseStrainService.resourcesAreAvailable}]")
      div(class="col-sm-6")
        div(class="form-group label-floating")
          label(class="control-label" for="transformSelect") Registration Transform
          div(class="input-group")
            select(ng-model="model.registrationTransform" id="transformSelect" class="form-control form-control-sm c-select" ng-disabled="!transformService.resourcesAreAvailable")
              option(ng-repeat="option in transformService.transforms" value="{{option.id}}") {{option.name}}
            span(class="input-group-btn")
              button(class="btn btn-info btm-sm" type="button" data-toggle="modal" data-target="#createRegistrationModal")
                i(ng-class="['fa', {'fa-spinner': !transformService.resourcesAreAvailable, 'fa-spin': !transformService.resourcesAreAvailable, 'fa-plus': transformService.resourcesAreAvailable}]")
    div(class="row")
      div(class="col-sm-3")
        div(class="form-group label-floating")
          label(class="control-label" for="sampleTag") Tag
          input(type="text", class="form-control form-control-sm", id="sampleTag", placeholder="", ng-model="model.tag")
      div(class="col-sm-9")
        div(class="form-group label-floating")
          label(class="control-label" for="comment") Comments
          input(type="text", class="form-control form-control-sm", id="comment", placeholder="", ng-model="model.comments")
    div(class="row")
      div(class="col-sm-2")
        button(type="submit" class="btn btn-info btn-sm btn-raised", ng-disabled='!canCreateSample()' ng-click="createSample()") Create
