div(class="modal fade" id="createVirusModal" tabindex="-1" role="dialog" aria-labelledby="createVirusModalLabel" aria-hidden="true" ng-controller="createVirusController")
  div(class="modal-dialog" role="document")
    div(class="modal-content")
      div(class="modal-header")
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4(class="modal-title" id="myModalLabel") Create New Virus
      div(class="modal-body")
        form
          div(class="form-group label-floating")
            label(class="control-label" for="newVirusName") Virus Name
            input(type="text", class="form-control form-control-sm", id="newVirusName", ng-model="item.name")
      div(class="modal-footer")
        button(type="button" class="btn btn-danger round outline" data-dismiss="modal") Cancel
        button(type="button" class="btn-primary round outline" ng-disabled="item.name.length == 0" ng-click="createItem()") Create
      div(class="alert alert-danger" role="alert" ng-show="errorMessage.length > 0")
        strong Oops!&nbsp;
        span {{errorMessage}}
