div(ng-controller="sampleTableController")
  include ./sample/_editInjections
  h4(class="centered") EXISTING
  table(class="table table-sm", ng-show="sampleService.resourcesAreAvailable")
    thead
      tr
        th Id
        th Tag
        th Date
        th Strain
        th Registration
        th Injections
    tbody
      tr(ng-repeat="s in sampleService.samples")
        td {{s.idNumber}}
        td {{s.tag || '(none)'}}
        td {{s.sampleDate | date: 'yyyy-MM-dd'}}
        td {{formatMouseStrain(s.mouseStrainId)}}
        td {{formatRegistrationTransform(s.registrationTransformId)}}
        td
          a(data-toggle="modal" data-target="#editInjectionsModal" data-sample="{{s}}")
            span(class="right-edge") {{formatInjections(s.injections)}}
            i(class="fa fa-plus-circle")
  div(class="centered" ng-show="!sampleService.resourcesAreAvailable")
    i(class="fa fa-spinner fa-spin" style="font-size:48px")
