div(class="row")
  div(class="col-sm-12 centered")
    h4
      ng-pluralize(count="neuronService.neurons.length" when="{'1': '1 neuron ', 'other': '{} neurons '}")
      span in
      ng-pluralize(count="sampleService.samples.length" when="{'1': ' 1 sample', 'other': ' {} samples'}")
