extends layout
block js
  script(src='/lib/dataService.js')
  script(src='/lib/brainAreaService.js')
  script(src='/lib/fluorophoreService.js')
  script(src='/lib/injectionVirusService.js')
  script(src='/lib/injectionService.js')
  script(src='/lib/neuronService.js')
  script(src='/lib/sampleService.js')
  script(src='/lib/structureIdentifierService.js')
  script(src='/lib/tracingNodeService.js')
  script(src='/lib/tracingService.js')
  script(src='/app/app.js')
  script(src='/app/directives/fileinput.js')
  script(src='/app/services/apiAccessService.js')
  script(src='/app/controllers/appController.js')
  script(src='/app/controllers/createTracingController.js')
  script(src='/app/controllers/tracingTableController.js')
  script(src='/app/controllers/queryController.js')

block content
  div(class="blue", id="landing")
    div(class="row centered")
      h1 Tracing Manager
      hr(class="partial")
      p(class="partial").
        An interactive server to upload and query tracings defined by SWC files.
    div(class="row")
      h3(class="centered") Services Provided
    br
    div(class="row")
      div(class="col-md-2 col-xs-1 centered")
      div(class="col-md-4 col-xs-5 centered")
        a(href="#upload" class="iconlink")
          i(class="fa fa-cloud-upload fa-3x")
          p(class="lead") Upload tracings from SWC files
      div(class="col-md-4 col-xs-5 centered")
        a(href="#search" class="iconlink")
          i(class="fa fa-search fa-3x")
          p(class="lead") Query tracings and nodes
  div(class="orange main-section", id="upload")
    h2(class="centered") CREATE
    include partials/_createTracing
  div(class="blue main-section")
    h2(class="centered") EXISTING
    include partials/_tracesTable
  div(class="orange main-section")
    h2(class="centered") SEARCH
    include partials/_searchTracingNodes
  div(id="footer", class="container-fluid dark") Mouse Light Neuron Data Browser Copyright © 2016 Howard Hughes Medical Institute
