doctype html
html(lang='en', ng-app="swcFileManager")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='public/lib/tether.min.css')
      link(rel='stylesheet', href='public/lib/bootstrap.min.css')
      link(rel='stylesheet', href='public/css/style.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    block content
