extends layout

block content
  div(id="landing", class="blue")
    div(class="row centered")
      h1 SWC File Service
      hr(class="partial")
      p(class="partial") A service to manage raw SWC file input and output.  This service is the base of the NDB system and is generally not directly accessed by users.
      br
      p(class="lead")
      //a(id="apilink" href="/foo", class="btn btn-primary-outline btn-med") API
      //br
      //br
      h4 Service is #[span(id="service_status") down]
      p.
        #[span(id="file_count") ?] files containing #[span(id="sample_count") ?] samples in the database
  div(id="description", class="green")
    div(class="row")
      h3(class="centered") Services Provided
    br
    div(class="row")
      div(class="col-md-2 col-xs-1 centered")
      div(class="col-md-4 col-xs-5 centered")
        i(class="fa fa-cloud-upload fa-3x")
        p(class="lead") Upload raw SWC files
      div(class="col-md-4 col-xs-5 centered")
        i(class="fa fa-search fa-3x")
        p(class="lead") Query raw files and neuron samples
  div(id="footer", class="container-fluid dark")
    Copyright © 2016 Howard Hughes Medical Institute
    div(class="pull-md-right").
  script(src='js/io.js')