doctype html
html(lang='en', ng-app="swcFileManager")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title Error (Neuron Database Browser)
    link(rel='stylesheet', href='/lib/tether.min.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    nav(class="navbar navbar-dark navbar-fixed-top bg-inverse")
      a(class="navbar-brand", href="/") Neuron Data Browser
    div(class="http-error")
      h1= message
      h2= error.status
      pre #{error.stack}
    nav(class="navbar navbar-dark navbar-fixed-bottom bg-inverse")
      ul(class="nav navbar-nav")
        li(class="nav-item text-muted") Copyright © 2016 Howard Hughes Medical Institute
