extends layout
block js
  script(src='/lib/socket.io.js')
  script(src='/lib/entityStore.js')
  script(src='/lib/dataService.js')
  script(src='/lib/brainAreaService.js')
  script(src='/lib/neuronService.js')
  script(src='/lib/sampleService.js')
  script(src='/lib/structureIdentifierService.js')
  script(src='/lib/tracingNodeService.js')
  script(src='/lib/tracingService.js')
  script(src='/lib/registrationTransformService.js')
  script(src='/lib/injectionVirusService.js')
  script(src='/lib/fluorophoreService.js')
  script(src='/lib/injectionService.js')
  script(src='/lib/mouseStrainService.js')
  script(src='/app/helpers/validation.js')
  script(src='/app/app.js')
  script(src='/app/services/apiAccessService.js')
  script(src='/app/services/modalService.js')
  script(src='/app/controllers/appController.js')
  script(src='/app/modals/inspectSampleController.js')
  script(src='/app/modals/inspectNeuronController.js')
  script(src='/app/modals/editSampleController.js')
  script(src='/app/modals/editNeuronController.js')
  script(src='/app/controllers/selectItemController.js')
  script(src='/app/controllers/selectMouseStrainController.js')
  script(src='/app/controllers/createSampleController.js')
  script(src='/app/controllers/createNeuronController.js')
  script(src='/app/controllers/createRegistrationController.js')
  script(src='/app/controllers/editInjectionsController.js')
  script(src='/app/controllers/sampleTableController.js')
  script(src='/app/controllers/neuronTableController.js')
block content

  div(id="appBar" class="section")
    div(class="row centered")
      h1 Sample and Neuron Manager
      p(class="text-muted-light") An interactive service to manage sample definitions and related information.
      include ./partials/_summary

  div
    include partials/sample/_samples

  div
    include partials/neuron/_neurons

  div
    div(class="diagnostics")
      h4(class="centered ") DIAGNOSTICS
    div(class="section diagnostics-content")
      include ./partials/_diagnostics

  div(id="footer", class="container-fluid") Copyright © 2016 Howard Hughes Medical Institute
  script $.material.init();
