doctype html
html(lang='en', ng-app= appName)
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    block title
      title= title
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700")
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet' href='/css/tether.min.css')
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/bootstrap-material-design.min.css')
    link(rel='stylesheet' href='/css/bootstrap-material-design.min.css.map')
    link(rel='stylesheet' href='/css/ripples.min.css')
    link(rel='stylesheet' href='/css/ripples.min.css.map')
    link(rel='stylesheet' href='/css/style.css')
    block css
    script(src='/lib/jquery.min.js')
    script(src='/lib/angular.min.js')
    script(src='/lib/angular-resource.min.js')
    script(src='/lib/tether.min.js')
    script(src='/lib/bootstrap.min.js')
    script(src='/lib/material.min.js')
    script(src='/lib/ripples.min.js')
  block js
    if ENV_DEVELOPMENT
      script(src='http://localhost:34729/livereload.js')
  body(ng-controller= appController)
    block content
