div(ng-controller="createNeuronController")

  div(class="section")
    form
      div(class="row")
        div(class="col-sm-6")
          div(class="form-group label-floating")
            label(class="control-label" for="neuronId") Neuron Id
            input(type="text", class="form-control", id="neuronId", ng-model="model.idString")
        div(class="col-sm-6")
          div(class="form-group label-floating")
            label(class="control-label" for="neuronTag") Tag (optional)
            input(type="text", class="form-control", id="neuronTag", ng-model="model.tag")

      div(class="row")
        div(class="col-sm-12")
          div(class="form-group label-floating")
            label(class="control-label" for="neuronKeywords") Keywords (optional)
            input(type="text", class="form-control form-control-sm", id="neuronKeywords", ng-model="model.keywords")

      div(class="row")
        div(class="col-sm-6")
          div(ng-class="['form-group', 'label-floating', {'has-warning': sampleId.length === 0}]")
            label(class="control-label" for="sampleSelect") Add to sample
            select(ng-model="sampleId" id="sampleSelect" class="form-control form-control-sm c-select c-select-sm" ng-disabled="sampleService.samples.length == 0")
              option(ng-repeat="option in sampleService.samples" value="{{option.id}}") {{sampleService.getDisplayName(option)}}
        div(class="col-sm-6")
          div(ng-class="['form-group', 'label-floating', {'has-warning': model.injectionId.length === 0}]")
            label(class="control-label" for="injectionSelect") Injections for sample
            select(ng-model="model.injectionId" id="injectionSelect" class="form-control form-control-sm c-select" ng-disabled="injectionsForSample.length == 0")
              option(ng-repeat="option in injectionsForSample" value="{{option.id}}") {{injectionService.getDisplayName(option)}}

      div(class="row")
        div(class="col-sm-12")
          div(class="checkbox")
            label
              input(type="checkbox" ng-model="inheritInjectionBrainArea")
              |  Inherit soma brain area from injection brain area {{inheritInjectionBrainArea ? '(uncheck to manually select neuron soma brain area)' : '' }}

      div(class="row")
        div(class="col-sm-12")
          label(class="control-label") Soma Brain Area
          ol(class="breadcrumb" ng-show="!inheritInjectionBrainArea")
            li(ng-repeat="depthNav in brainAreaNavigationNeuron track by $index")
              span(uib-dropdown)
                a(class="brain-area-nav" href uib-dropdown-toggle) {{depthNav.areas[depthNav.selectedAreaIndex].name}}
                ul(class="dropdown-menu" uib-dropdown-menu role="menu")
                  li(role="menuitem" ng-repeat="area in depthNav.areas track by $index")
                    a(ng-click="updateLocation($parent.$index, $index)") {{area.name}}
          angucomplete-alt(id="ex1" ng-show="!inheritInjectionBrainArea" placeholder="Search brain areas" maxlength="50" pause="300"  selected-object="onSelectedArea" local-data="searchableBrainAreas" search-fields="name" title-field="name" minlength="1" input-class="form-control form-control-sm" match-class="highlight")
          div(ng-show="inheritInjectionBrainArea")
            span {{getSelectedInjectionLocation()}}

      div(class="row")
        div(class="col-sm-12")
          div(class="form-group label-floating")
            label(class="control-label" for="somaLocation") Soma Location (x, y, z) µm
            input(type="text", class="form-control", id="somaLocation", ng-model="model.somaLocation")
            p(class="help-block") Enter three comma-separated values with or without bounding parentheses

  hr(class="fab-offset")
  div(class="fab")
    button(class="btn btn-success btn-raised btn-fab" ng-click="createNeuron()")
      i(class="material-icons") add
