div(class="row", ng-controller="createTracingController")
  include ./_createSampleModal
  form
    div(class="row")
      div(class="col-sm-12 form-group")
        label(class="file" id="selectfile")
          input(type="file", class="form-control-file small", name="contents", file-model="theFile")
          span(class="file-custom")
      div(class="col-sm-12 form-group")
        label(class="label label-primary") {{theFile.name}}
    div(class="row")
      div(class="col-sm-6 form-group")
        label(for="annotator") Annotator
        input(type="text", class="form-control form-control-sm", id="annotator", placeholder="e.g., name or email", ng-model="annotator")
      //
        div(class="col-sm-2 form-group")
          label(for="length") Length
          div(class="input-group")
            input(type="text", class="form-control", id="length", placeholder="", ng-model="lengthMicrometers")
            div(class="input-group-addon form-control-sm") µm
    div(class="row")
      div(class="col-sm-6 form-group")
        label(for="sampleSelect") Add to sample
        div(class="input-group input-group-sm")
          select(ng-model="sampleId" id="sampleSelect" class="form-control form-control-sm c-select" ng-disabled="sampleService.samples.length == 0" )
            option(ng-repeat="option in sampleService.samples" value="{{option.id}}") {{option.idNumber}} ({{option.sampledate | date: 'yyyy-MM-dd'}})
          span(class="input-group-btn input-group-btn-sm")
            button(class="btn btn-success btm-sm]', " type="button" ng-disabled="sampleService.samples.length == 0" data-toggle="modal" data-target="#createSampleModal")
              i(ng-class="['fa', {'fa-spinner': !sampleService.resourcesAreAvailable, 'fa-spin': !sampleService.resourcesAreAvailable, 'fa-plus': sampleService.resourcesAreAvailable}]")
        small(class="text-muted") Select or create a sample for the tracing
      div(class="col-sm-6 form-group")
        label(for="neuronSelect") {{sampleId.length > 0 ? ('Neurons for ' + sampleId) : 'Neurons'}}
        div(class="input-group input-group-sm")
          select(ng-model="neuronId" id="neuronSelect" class="form-control form-control-sm c-select" ng-disabled="neuronsForSample.length == 0" )
            option(ng-repeat="option in neuronsForSample" value="{{option.id}}") {{option.idNumber}}
          span(class="input-group-btn input-group-btn-sm")
            button(class="btn btn-success btm-sm]', " type="button" data-toggle="modal" data-target="#createNeuronModal")
              i(ng-class="['fa', {'fa-spinner': !neuronService.resourcesAreAvailable, 'fa-spin': !neuronService.resourcesAreAvailable, 'fa-plus': neuronService.resourcesAreAvailable}]")
        small(class="text-muted") {{sampleId.length > 0 ? '': ('Select a sample to choose or create a neuron')}}
    div(class="row")
      div(class="col-sm-1")
        button(type="submit" class="btn btn-primary btn-sm", ng-click="send()" ng-disabled="!canCreateTracing()") Upload 
          i(class="fa fa-spinner fa-spin" ng-show="isInCreatePost")
      div(class="col-sm-11")
        span {{lastCreateMessage}}

