div(class="row", ng-controller="createTracingController")
  form
    div(class="row")
      div(class="col-sm-12 form-group")
        label(class="control-label" for="selectfile") Browse for File
          div(class="input-group")
            input(type="text" readonly="" class="col-sm-10 form-control" ng-model="theFile.name")
            span(class="input-group-btn")
              button(class="btn btn-info btm-sm]', " type="button")
                i(class="fa fa-color fa-plus")
          input(type="file" id="selectfile" class="form-control-file" name="contents", file-model="theFile")
    div(class="row")
      div(class="col-sm-6 form-group")
        label(class="control-label" for="tracingStructure") Structure
        select(class="form-control form-control-sm c-select", id="tracingStructure", ng-model="tracingStructureId")
          option(ng-repeat="option in tracingStructureService.structures" value="{{option.id}}") {{option.name}}
      div(class="col-sm-6 form-group")
        label(class="control-label" for="annotator") Annotator
        input(type="text" class="form-control form-control-sm", id="annotator" ng-model="annotator")
    div(class="row")
      div(class="col-sm-4 form-group")
        label(class="control-label" for="sampleSelect") Add to sample
        div(class="input-group input-group-sm")
          select(ng-model="sampleId" id="sampleSelect" class="form-control form-control-sm c-select" ng-disabled="sampleService.samples.length == 0" )
            option(ng-repeat="option in sampleService.samples" value="{{option.id}}") {{option.idNumber}} ({{option.sampleDate | date: 'yyyy-MM-dd'}})
        small(class="text-muted") {{sampleId.length > 0 ? '': ('Select a sample for the tracing')}}
      div(class="col-sm-4 form-group")
        label(class="control-label" for="neuronSelect") {{sampleId.length > 0 ? ( 'Neurons for ' + sampleService.getDisplayNameForId(sampleId) ) : 'Neurons'}}
        div(class="input-group input-group-sm")
          select(ng-model="neuronId" id="neuronSelect" class="form-control form-control-sm c-select" ng-disabled="neuronsForSample.length == 0" )
            option(ng-repeat="option in neuronsForSample" value="{{option.id}}") {{neuronService.getDisplayName(option)}}
          small(class="text-muted") {{describeSamplesForNeuron()}}
      div(class="col-sm-4 form-group")
    div(class="row")
      div(class="col-sm-12")
        button(type="submit" class="btn btn-primary round outline", ng-click="send()" ng-disabled="!canCreateTracing()") Upload
          i(class="fa fa-spinner fa-spin" ng-show="isInCreatePost")
        span    {{lastCreateMessage}}
