div(class="row" id="search" ng-controller="queryController")
  form(class="inset")
    fieldset(class="form-group")
      label(for="structure") Structure Id
      br
      select(class="c-select", id="structure", ng-model="structureId")
        option(ng-repeat="option in structureIdentifierService.structures" value="{{option.id}}") {{option.name}}
      button(type="submit" class="btn btn-primary left", ng-click="query()" ng-disabled="isInQuery || structureId.length == 0")
        i(class="fa fa-search" ng-show="!isInQuery")
        i(class="fa fa-spinner fa-spin" ng-show="isInQuery")
        span(class="left")   Search
      span(class="left" ng-show="!isInQuery") {{queryResults}}
  div
    dir-pagination-controls(template-url="/lib/dirPagination.tpl.html", boundary-links="true", pagination-id="query_nodes")
  table(class="table table-sm")
    thead
      tr
        th File
        th Sample Number
        th X
        th Y
        th Z
        th Radius
        th Parent Sample Number
    tbody
      tr(dir-paginate="s in samples | itemsPerPage: 20" pagination-id="query_nodes")
        td {{s.Tracing.filename}}
        td {{s.sampleNumber}}
        td {{s.x}}
        td {{s.y}}
        td {{s.z}}
        td {{s.radius}}
        td {{s.parentNumber}}
