div(class="modal fade" id="editInjectionsModal" tabindex="-1" role="dialog" aria-labelledby="editInjectionsModalLabel" aria-hidden="true" ng-controller="editInjectionsController")
  div(class="modal-dialog" role="document")
    div(class="modal-content modal-content-wider")
      div(class="modal-header accent")
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          i(class="material-icons") cancel
        h3(class="modal-title" id="editInjectionsModalTitle") {{title}}

      div(class="modal-body")
        h3 Add Injection

        div(class="inset-group")
          div(class="row")
            h5 Select an existing virus from the list or enter a new name
            div(class="form-group")
              div(class="input-group")
                span(class="input-group-btn")
                  div(class="btn-group" uib-dropdown)
                    button(type="button" id="injectionVirusButton" class="btn outline" uib-dropdown-toggle)
                      i(class="material-icons") arrow_drop_down
                    ul(class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="injectionVirusButton")
                      li(role="menuitem" ng-repeat="option in injectionVirusService.injectionViruses")
                        a(ng-click="setInjectionVirusName(option)") {{option.name}}
                input(type="text", class="form-control", id="injectionVirusName" ng-model="injectionVirusName")

          div(class="row")
            h5 Select an existing fluorophore from the list or enter a new name
            div(class="form-group")
              div(class="input-group")
                span(class="input-group-btn")
                  div(class="btn-group" uib-dropdown)
                    button(type="button" id="fluorophore-button" class="btn outline" uib-dropdown-toggle)
                      i(class="material-icons") arrow_drop_down
                    ul(class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="fluorophore-button")
                      li(role="menuitem" ng-repeat="option in fluorophoreService.fluorophores")
                        a(ng-click="setFluorophoreName(option)") {{option.name}}
                input(type="text", class="form-control", id="fluorophoreName" ng-model="fluorophoreName")

          div(class="row")
            h5 Choose a brain area
            angucomplete-alt(id="ex2" ng-show="!inheritInjectionBrainArea" placeholder="Search brain areas" maxlength="50" pause="300"  selected-object="onSelectedArea" local-data="searchableBrainAreas" search-fields="name" title-field="name" minlength="1" input-class="form-control form-control-sm" match-class="highlight")
            ol(class="breadcrumb")
              li(ng-repeat="depthNav in brainAreaNavigation")
                span(uib-dropdown)
                  a(class="brain-area-nav" href uib-dropdown-toggle) {{depthNav.areas[depthNav.selectedAreaIndex].name}}
                  ul(class="dropdown-menu" uib-dropdown-menu role="menu")
                    li(role="menuitem" ng-repeat="area in depthNav.areas")
                      a(ng-click="updateLocation($parent.$index, $index)") {{area.name}}

      hr
      div(class="fab-mini")
        button(class="btn btn-success btn-raised btn-fab btn-fab-mini" ng-disabled="!canAddInjection"  ng-click="addInjection()")
          i(class="material-icons") add

      div(class="modal-body")
        div(class="row inset-group")
          table(class="table table-sm")
            thead
              tr
                th Virus
                th Fluorophore
                th Location
            tbody
              tr(ng-repeat="injection in injectionsForSample")
                td {{formatInjectionVirus(injection.injectionVirusId)}}
                td {{formatFluorophore(injection.fluorophoreId)}}
                td {{formatBrainArea(injection.brainAreaId)}}

        div(class="row centered" ng-show="injectionsForSample.length === 0")
          p No injections are defined for this sample.  Create injections above.


      div(class="modal-footer")
        button(type="button" class="btn btn-raised btn-info" data-dismiss="modal") Close
