div(class="modal fade" id="inspectSampleModal" tabindex="-1" role="dialog" aria-labelledby="inspectSampleModalLabel" aria-hidden="true" ng-controller="inspectSampleController")
  div(class="modal-dialog" role="document")
    div(class="modal-content")

      div(class="modal-header accent")
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          i(class="material-icons") cancel
        h3(class="modal-title" id="myModalLabel") {{title}}

      div(class="modal-body")
        h5 Id Number
        span {{sample.idNumber}}

        h5 Animal Id
        span {{formatAnimalId(sample)}}

        h5 Date
        span {{formatSampleDate(sample.sampleDate)}}

        h5 Strain
        span {{formatMouseStrain(sample)}}

        h5 Active Registration
        span {{formatRegistrationTransforms(sample)}}

        h5 Additional Registrations
        span {{formatAdditionalRegistrationTransforms(sample)}}

        h5 Injections
        span {{formatInjections(sample)}}

        h5 Tag
        span {{formatPossibleEmpty(sample.tag)}}

        h5 Comment
        span {{formatPossibleEmpty(sample.comment)}}

        h5 Last Updated
        span {{formatTimestampDate(sample.updatedAt)}}

        h5 Created
        span {{formatTimestampDate(sample.createdAt)}}

      div(class="modal-footer")
        button(type="button" class="btn btn-raised btn-info" data-dismiss="modal") Close
